<div class="card border-dark mt-3">
  <div class="card-header">{{element.question}}</div>
  <div class="card-body">
    <div class="card-text">
      <div class="form-check" *ngFor="let option of element.options">
        <input class="form-check-input" type="radio" name="{{option.value}}" id="multi-choice-{{option.id}}" value="{{option.value}}" [attr.checked]="option.checked ? 'checked' : null">
        <label class="form-check-label" for="multi-choice-{{option.id}}">
          {{option.value}}
        </label>
      </div>
    </div>
  </div>
  <div class="card-header bg-transparent">
    <button type="button" class="btn btn-dark mr-1" (click)="editButtonClickEvent()"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-files-o "></i>&nbsp;Duplicate</button>
  </div>
</div>
