<app-page-header [heading]="'Survey Builder'" [icon]="'fa-wrench'" [breadcrumb]="false"></app-page-header>

<div class="container">
  <div class="row">
    <div class="col-3">
      <!-- A vertical navbar -->
      <nav class="navbar bg-light">
        <span class="navbar-brand">Tools</span>
        <span class="navbar-text small">
          Build an awesome survey using the following tools
        </span>
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <button type="button" class="btn  btn-sm btn-outline-dark" >
              <i class="fa fa-keyboard-o" aria-hidden="true"></i>
              &nbsp;Single Input
            </button>
          </li>
          <li class="nav-item mt-1">
            <button type="button" class="btn  btn-sm btn-outline-dark">
              <i class="fa fa-check-square" aria-hidden="true"></i>
              &nbsp;Checkbox
            </button>
          </li>
          <li class="nav-item mt-1">
            <button type="button" class="btn  btn-sm btn-outline-dark">
              <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
              &nbsp;Multiple Choice
            </button>
          </li>
          <li class="nav-item mt-1">
            <button type="button" class="btn  btn-sm btn-outline-dark">
              <i class="fa fa-caret-square-o-down" aria-hidden="true"></i>
              &nbsp;Dropdown
            </button>
          </li>
          <li class="nav-item mt-1">
            <button type="button" class="btn  btn-sm btn-outline-dark">
              <i class="fa fa-commenting" aria-hidden="true"></i>
              &nbsp;Comment
            </button>
          </li>
          <li class="nav-item mt-1">
            <button type="button" class="btn  btn-sm btn-outline-dark">
              <i class="fa fa-star" aria-hidden="true"></i>
              &nbsp;Rating
            </button>
          </li>
        </ul>

      </nav>
    </div><!-- ./col-3 -->
    <div class="col-9">
      <button
        type="button"
        class="btn btn-success btn-sm"
        (click)="addNewTab()">
        New&nbsp;<i class="fa fa-plus-circle"></i>
      </button>
      <div class="mt-1">

        <ngb-tabset #t="ngbTabset">
          <ngb-tab *ngFor="let page of surveyData" id="{{page.id}}">
            <ng-template ngbTabTitle>
              {{page.title}}&nbsp;
              <span *ngIf="page.title !== 'Page 1'">
                <a class="disable-link" href="#" (click)="deleteTab(page.id, $event)">
                  <i class="fa fa-times"></i>
                </a>
              </span>
            </ng-template>
            <ng-template ngbTabContent>
              <app-viewer
                *ngIf="page.title === 'Page 1'"
                [viewerData]="page.elements"></app-viewer>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

      </div>
    </div><!-- ./col-9 -->
  </div><!-- ./row -->
</div><!-- ./container -->
