<div class="card border-dark mt-3">
  <div class="card-header">4. Which country are you from?</div>
  <div class="card-body">
    <div class="card-text">
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>India</option>
        <option>US</option>
        <option>Canada</option>
      </select>
    </div>
  </div>
  <div class="card-header bg-transparent">
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-files-o "></i>&nbsp;Duplicate</button>
  </div>
</div>
