<div class="card border-dark mt-3">
  <div class="card-header">5. What's your opinion about global warming?</div>
  <div class="card-body">
    <div class="card-text">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
  <div class="card-header bg-transparent">
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-files-o "></i>&nbsp;Duplicate</button>
  </div>
</div>
