<!-- Single Input -->
<app-single-input
  (edit)="inputItemEditClick($event)"></app-single-input>

<!-- Checkbox -->
<app-checkbox
  (edit)="inputItemEditClick($event)"></app-checkbox>

<!-- Multiple Choice -->
<app-multiple-choice
  (edit)="inputItemEditClick($event)"></app-multiple-choice>

<!-- Dropdown -->
<app-dropdown
  (edit)="inputItemEditClick($event)"></app-dropdown>

<!-- Comment -->
<app-comment
  (edit)="inputItemEditClick($event)"></app-comment>

<!-- Rating -->
<app-rating
  (edit)="inputItemEditClick($event)"></app-rating>