<div class="card border-dark mt-3">
  <div class="card-header">{{element.question}}</div>
  <div class="card-body">
    <div class="card-text">
      <ngb-rating [rate]="element.options[0].value" [max]="this.element.options[0].rating_max"></ngb-rating>
    </div>
  </div>
  <div class="card-header bg-transparent">
    <button type="button" class="btn btn-dark mr-1" (click)="editButtonClickEvent()"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
    <button type="button" class="btn btn-dark mr-1"  (click)="deleteButtonClickEvent()"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-files-o "></i>&nbsp;Duplicate</button>
  </div>
</div>
