<div class="card border-dark mt-3">
  <div class="card-header">6. How would you rate your self-esteem?</div>
  <div class="card-body">
    <div class="card-text">
      <ngb-rating [rate]="3"></ngb-rating>
    </div>
  </div>
  <div class="card-header bg-transparent">
    <button type="button" class="btn btn-dark mr-1" (click)="editButtonClickEvent()"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-files-o "></i>&nbsp;Duplicate</button>
  </div>
</div>
