<div class="card border-dark mt-3">
  <div class="card-header">1. What's your name?</div>
  <div class="card-body">
    <p class="card-text">
      <input class="form-control form-control" type="text" placeholder="Answer">
    </p>
  </div>
  <div class="card-header bg-transparent">
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-files-o "></i>&nbsp;Duplicate</button>
  </div>
</div>
