<div class="card border-dark mt-3">
  <div class="card-header">2. What kind of pet are you having?</div>
  <div class="card-body">
    <div class="card-text">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="cat" checked>
        <label class="form-check-label" for="exampleRadios1">
          Cat
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios2" value="dog">
        <label class="form-check-label" for="exampleRadios2">
          Dog
        </label>
      </div>
    </div>
  </div>
  <div class="card-header bg-transparent">
    <button type="button" class="btn btn-dark mr-1" (click)="editButtonClickEvent()"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-trash-o"></i>&nbsp;Delete</button>
    <button type="button" class="btn btn-dark mr-1"><i class="fa fa-files-o "></i>&nbsp;Duplicate</button>
  </div>
</div>
